:root {
  --primary-color: #FDAD0D;
  --primary-color-dark: #F0A202;
  --secondary-color: #0E1428;
  --secondary-color-light: #405BB5;
  --bg-white: #ffffff;

}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-white {
  background-color: var(--bg-white) !important;
}

.bg-secondary-light {
  background-color: var(--secondary-color-light) !important;
}



 
body{
height: 100vh;
position: relative;
min-width:500px;        /* Suppose you want minimum width of 500px */
width: auto !important;  /* Firefox will set width as auto */
width:500px;
}



#main-page {
  overflow: scroll;
  height: calc(100vh - 92px);
  background-color: var(--bg-white);
}



.navbar-sticky {
  position: sticky;
  top: 0;
}

.search-sticky {
  position: sticky;
  top: 75;
}


.form-control {
  background-color: var(--bs-body-bg-secondary);

}

.form-control::placeholder {
  color: #000000;
  opacity: 1;
}

.form-control:focus {
  background-color: #e6f8ff;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.form-floating > .form-select ~ label {
  color: rgba(var(--bs-white-duck), 0.65);
}

@media (min-width: 576px) {
  .mr-sm-1 {
    margin-right: 1rem !important;
  }

  .mr-sm-2 {
    margin-right: 2rem !important;
  }

  .mr-sm-3 {
    margin-right: 3rem !important;
  }

  .ml-sm-1 {
    margin-left: 1rem !important;
  }
  
  .ml-sm-2 {
    margin-left: 2rem !important;
  }
  
  .ml-sm-3 {
    margin-left: 3rem !important;
  }

  .pr-sm-1 {
    padding-right: 1rem !important;
  }

  .pr-sm-2 {
    padding-right: 2rem !important;
  }

  .pr-sm-3 {
    padding-right: 3rem !important;
  }

  .pl-sm-1 {
    padding-left: 1rem !important;
  }

  .pl-sm-2 {
    padding-left: 2rem !important;
  }

  .pl-sm-3 {
    padding-left: 3rem !important;
  }
  
}

@media (min-width: 768px) {
  .mr-md-1 {
    margin-right: 1rem !important;
  }

  .mr-md-2 {
    margin-right: 2rem !important;
  }

  .mr-md-3 {
    margin-right: 3rem !important;
  }

  .ml-md-1 {
    margin-left: 1rem !important;
  }
  
  .ml-md-2 {
    margin-left: 2rem !important;
  }
  
  .ml-md-3 {
    margin-left: 3rem !important;
  }

  .ml-md-4 {
    margin-left: 4rem !important;
  }

  .pr-md-1 {
    padding-right: 1rem !important;
  }

  .pr-md-2 {
    padding-right: 2rem !important;
  }

  .pr-md-3 {
    padding-right: 3rem !important;
  }

  .pl-md-1 {
    padding-left: 1rem !important;
  }

  .pl-md-2 {
    padding-left: 2rem !important;
  }

  .pl-md-3 {
    padding-left: 3rem !important;
  }




  
}

@media (max-width: 767px) {
  .usernameNav {
    display: none;
  }
  .duckNavHide {
    display: none;
  }
}

@media (min-width: 767px) {
  .duckNavShow {
    display: none;
  }
}

@media (min-width: 992px) {
  .mr-lg-1 {
    margin-right: 1rem !important;
  }

  .mr-lg-2 {
    margin-right: 2rem !important;
  }

  .mr-lg-3 {
    margin-right: 3rem !important;
  }

  .ml-lg-1 {
    margin-left: 1rem !important;
  }
  
  .ml-lg-2 {
    margin-left: 2rem !important;
  }
  
  .ml-lg-3 {
    margin-left: 3rem !important;
  }

  .pr-lg-1 {
    padding-right: 1rem !important;
  }

  .pr-lg-2 {
    padding-right: 2rem !important;
  }

  .pr-lg-3 {
    padding-right: 3rem !important;
  }

  .pl-lg-1 {
    padding-left: 1rem !important;
  }

  .pl-lg-2 {
    padding-left: 2rem !important;
  }

  .pl-lg-3 {
    padding-left: 3rem !important;
  }
  
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.btn-primary {
  color: #000000;
  background-color: #ffcc00;
}


.btn-primary:hover {
  color: #000000;
  background-color: var(--primary-color-dark);
}


.text-blue {
  color: var(--secondary-color-light) !important;
}

.text-yellow {
  color: var(--primary-color)  !important;
}

.text-yellow-dark {
  color: var(--primary-color-dark)  !important;
}

.border-blue {
  --bs-border-opacity: 1;
  border-color: rgba(var(--secondary-color), var(--bs-border-opacity)) !important;
}


.btn {
  border: transparent;
}

.lead {
  margin-bottom: 0rem;
}

.profile-pic-post{
  max-width: 30px;
  max-height: 30px;
}

.profile-pic-post img {
  width: 100%;
  height: 100%;;
}


.post-image {
  width: 100px;
  height: 100px;
}

.post-image img{
  border-radius: 10px;
  background-color: var(--bs-body-bg-secondary);
  width: 468px;
  height: 468px;
  overflow: hidden;

}

@media (min-width: 992px) {
  .gedf-card {
      margin-bottom: 2.77rem;
  }
}

.post-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px auto;
  position: relative;
  text-align:center;
}

.time {
  margin-left: auto;
}

.post-image {
  max-width: 100%;
  height: auto;
}

.card-image-container {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.card-image-container img {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}


.text-container {
  display: flex;
}

.middle {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.post-btn {
  border-color: transparent;
  background-color: transparent;
}

.postP {
  font-size: 12px;
}

.comment-adjust {
  padding-bottom: 4px;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.white {
  color:white;
}




/* Media Query */
@media (max-width: 992px) {
  .rightsplit {
      display: none !important;
  }

  .leftsplit {
      display: none !important;
  }

  .centralsplit {
      max-width: 100% !important; /* Make the center column full width */

  }
}

.friends-card {
  min-width: 400px;
}

#LetTheEggsSwim {
  background-color: var(--bg-white);
  height: 100vh;
  overflow-y: scroll;
}

#LeftContainer {
  height: 100vh;
  overflow-y: hidden;
}

.comment {
  margin-top: 10px;
  padding: 15px;  
  border-radius: 5px;
}

.replies {
  margin-left: 20px;
  border-left: 2px solid #f0f0f0;
  padding-left: 15px;
}

.replies.hidden {
  display: none;
}

.reply-form {
  margin-top: 10px;
}

.toggle-replies .toggle-replies-btn {
  outline: none !important;

}

#CurrentFriendsListId {
  display: grid;
  grid-template-columns: minmax(0, max-content);
}

.like-button .unlike-button {
  border-radius: 50%;
  background-color: white;
}
.like-button:hover, .unlike-button:hover {
  background-color: red;
  color: white;
}
