
$primary: #a375bd;
$danger: #bf0603;
$success: #78c6a3;
$warning : #f7a072;

$tooltip-bg : #EAE0EF;


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


$tooltip-color : $light;
$tooltip-opacity: 1;

@import '../node_modules/bootstrap/scss/bootstrap.scss';